# Ambiente local - Pedidos Veloz
NODE_ENV=development
POSTGRES_USER=pedidos
POSTGRES_PASSWORD=pedidos_secret
POSTGRES_DB=pedidos_veloz
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

GATEWAY_PORT=8080
PEDIDOS_PORT=3001
PAGAMENTOS_PORT=3002
ESTOQUE_PORT=3003

# Simulação de gateway de pagamento externo
PAYMENT_API_KEY=demo-payment-key
PAYMENT_PROVIDER_URL=http://pagamentos:3002

# Observabilidade
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
LOG_LEVEL=info
